h1 {
  font-size: 24px; /* Tamaño de fuente */
  margin-bottom: 10px;
}
body {
  margin: 0; /* Elimina el margen en todos los lados */
  padding: 0; /* Asegura que no haya relleno */
  background-color: #f4f4f4; /* Color de fondo */
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.5) 50%, transparent 50%); /* Degradado */
  background-size: 100px 100px; /* Tamaño de los cuadrados */
}

.table-container {
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.custom-table {
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.custom-header, .custom-cell {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.custom-header {
  background-color: #f2f2f2;
  font-weight: bold;
}
.example-button-row {
  max-width: 600px;
  margin-bottom: 10px;
}
.custom-header-row, .custom-row {
  background-color: #fff;
}

.custom-row:nth-child(even) {
  background-color: #f2f2f2;
}

.example-flex-container {
  display: flex;
  justify-content: center;
}

.example-button-container {
  margin-right: 8px; /* Ajusta el espacio entre los botones */
}

@media screen and (max-width: 600px) {
  .example-flex-container {
    flex-direction: column; /* Cambia la dirección de flexión a columna para pantallas más pequeñas */
  }

  .example-button-container {
    margin-right: 0; /* Elimina el margen entre los botones para pantallas más pequeñas */
    margin-bottom: 8px; /* Añade margen inferior entre los botones */
  }
}
