<div>
  <form>
    <div class="card">
      <div class="card-body">
        <h1>Nuevo Paciente</h1>
        <div class="input-group">
          <mat-form-field appearance="fill" class="input">
            <mat-label>Nombre:</mat-label>
            <input matInput type="text" formControlName="nombre">
          </mat-form-field>

          <mat-form-field appearance="fill" class="input">
            <mat-label>Apellido:</mat-label>
            <input matInput type="text" formControlName="apellido">
          </mat-form-field>
        </div>

        <div class="input-group">
          <mat-form-field appearance="fill" class="input">
            <mat-label>Teléfono:</mat-label>
            <input matInput type="text" formControlName="telefono">
          </mat-form-field>

          <mat-form-field appearance="fill" class="input">
            <mat-label>Correo electrónico:</mat-label>
            <input matInput type="email" formControlName="correo">
          </mat-form-field>
        </div>

        <div class="input-group">
          <mat-form-field appearance="fill" class="input">
            <mat-label>Fecha de Nacimiento:</mat-label>
            <input matInput type="date" formControlName="fecha_nacimiento">
          </mat-form-field>

          <mat-form-field appearance="fill" class="input">
            <mat-label>Fecha de Ingreso:</mat-label>
            <input matInput type="date" formControlName="fecha_ingreso">
          </mat-form-field>
        </div>

        <div class="input-group">
          <mat-form-field appearance="fill" class="input">
            <mat-label>Previsión:</mat-label>
            <mat-select formControlName="prevision">
              <mat-option value="CAPITAL">CAPITAL</mat-option>
              <mat-option value="CUPRUM">CUPRUM</mat-option>
              <mat-option value="HABITAT">HABITAT</mat-option>
              <mat-option value="MODELO">MODELO</mat-option>
              <mat-option value="PLANVITAL">PLANVITAL</mat-option>
              <mat-option value="PROVIDA">PROVIDA</mat-option>
              <mat-option value="UNO">UNO</mat-option>
              <mat-option value="OTRA">OTRA (PARTICULAR)</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="input">
            <mat-label>Evaluación:</mat-label>
            <input matInput type="text" formControlName="evaluacion">
          </mat-form-field>
        </div>

        <div class="input-group">
          <mat-form-field appearance="fill" class="input">
            <mat-label>Objetivo:</mat-label>
            <input matInput type="text" formControlName="objetivo">
          </mat-form-field>

          <mat-form-field appearance="fill" class="input">
            <mat-label>Diagnóstico:</mat-label>
            <input matInput type="text" formControlName="diagnostico">
          </mat-form-field>
        </div>

        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Enviar</button>
        </div>
      </div>
    </div>
  </form>
</div>

