.input-group .input {
  flex: 1; /* Hace que los elementos dentro del grupo tengan el mismo ancho */
}

.button-container {
  text-align: center; /* Centra el contenido horizontalmente */
  margin-top: 20px; /* Espaciado superior para separar del resto del formulario */
  margin-bottom: 20px;
}

/* Estilos para la tarjeta */
.card {
  width: 95%; /* Ancho de la tarjeta */
  background-color: #ffffff; /* Color de fondo */
  border-radius: 8px; /* Borde redondeado */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  margin: 0 auto; /* Centrar horizontalmente */
}

/* Estilos para el cuerpo de la tarjeta */
.card-body {
  padding: 10px; /* Espaciado interno */

}

/* Estilos para el título del formulario */
h1 {
  font-size: 24px; /* Tamaño de fuente */
  margin-bottom: 20px; /* Espaciado inferior */
}

/* Estilos para los grupos de entrada */
.input-group {
  display: flex; /* Mostrar en línea */
  flex-wrap: wrap; /* Permitir envoltura de contenido */
  gap: 10px; /* Espaciado entre grupos de entrada */

}

/* Estilos para los campos de entrada */
.mat-form-field {
  width: calc(50% - 5px); /* Ancho de los campos (mitad del contenedor) */
}

/* Estilos para el botón de enviar */
button {
  width: 40%; /* Ancho completo del botón */
}
